<%- include('partials/_header')-%>
    <div class="wrapper">

        
            <div class="memberCartwrapperDetail">
                
                    <div class="memberimg">
                        <img src="<%=veri.avatar%>" alt="">
                    </div>
                    <div class="membername">
                        <span>
                            <%=veri.first_name%> <%=veri.last_name%>
                        </span>
                    </div>
                    <div class="memberemail">
                        <span>
                            <%=veri.email%>
                        </span>
                    </div>
                    <div class="memberreview">
                        <a href="/" class="memberbtn">Back</a>
                   
                </div>
           
        </div>
    </div>
        <%- include('partials/_footer')-%>